/* .card {
  display: flex;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  gap: 10px;
} */


.avatar-pic {
  width: 60px;
  height: 60px;
  border-radius: 75%;
  overflow: hidden;
  position: relative;
}

.avatar-pic img {
  width: 100%;
  height: 100%;
  border-radius: 75%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.person-details {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

/*

.card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

.person-name {
  font-size: 18px;
  font-weight: bold;
}

.bigraphy {
  font-size: 14px;
  text-align: justify;
} */